/* 体調記入ページのスタイル */

form {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

form h1 {
    text-align: left;
}

form input[type="date"],
form textarea {
    display: block;
    width: 66%; /* 幅を現在の3分の2に設定 */
    margin-bottom: 10px;
}

/* 日付入力フィールドの修正 */
form input[type="date"] {
    font-size: 1.5em; /* フォントサイズを大きくする */
    padding: 8px; /* 内側の余白を追加 */
}

/* 症状入力欄の修正 */
form textarea {
    font-size: 2.0em; /* フォントサイズを倍の大きさに設定 */
    padding: 16px; /* 内側の余白を追加 */
}

/* 症状入力欄と日付入力フィールドを調整 */
form textarea,
form input[type="date"] {
    margin-left: auto; /* 左側の余白を自動調整 */
    margin-right: auto; /* 右側の余白を自動調整 */
}

form button {
    width: 45%;
    margin-top: 10px;
}

form button:nth-child(2) {
    float: left;
}

form button:nth-child(3) {
    float: right;
}