<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>体調チェッカー365</title>
</head>
<body>
    <h1>体調チェッカー365</h1>
    <div id="calendar"></div>

    <!-- FullCalendarのライブラリ -->
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.6/index.global.min.js"></script>
    <!-- Custom JavaScriptファイル -->
    <script src="/static/js/script.js"></script>
    <script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var entries = {{ entries|tojson|safe }};
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            events: entries,
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            locale: 'ja', // 日本語ロケールを指定
            dateClick: function(info) {
                window.location.href = `/entry?date=${info.dateStr}`;
            }
        });
        calendar.render();
    });
    </script>
</body>
</html>
